.doti-main-circle {
    float: left;
    max-width: 400px;
    border: 4px solid #c6b2cc;
}
#field-circle {
    max-width: 400px;
}

thead tr td {font-size: 11px;}
td {padding: 2px;padding-right: 6px}

.home-fields-cont {
    float: left;
    display: inline-block;
    /*margin-left: 20px;*/
    border: 4px solid #c6b2cc;
}

/* @overwrite defaults */
body, .btn-link {
    color: #461852;
}
.btn-link:hover {
    color: #461852;
}

.navbar-nav>li>a {
    color: #7a418a!important;
}

.navbar-default {
    background-color: #f6f3f8;
    border-color: #7a418a !important;
    /*color: red;*/
    border-radius: 0px;
}

.panel-default>.panel-heading {
    background-color: #7a418a;
    border-color: #f6f3f8;
}
.panel-default, .panel-default>.panel-heading {
    color: #c6b2cc;/*#c6b2cc;*/
    border-color: #7a418a;
    border-radius: 0px;
}
.panel-default {
    color: #7a418a;/*#c6b2cc;*/
    /*border-color: #c6b2cc;*/
}



.dropdown-menu {
    background-color: #f6f3f8;
    border: 1px solid rgb(198, 178, 204);
    border-radius: 0px;
}
/* Top-Right Dropdown */
.dropdown-menu>li>a {
    color: #1b003c;
}
/* Top-Right Dropdown hover*/
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #ebe5ed;/*#d5c7d9;*/
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #ebe5ed;
}
.btn-primary {
    background-color: #5f2f6d;
    border-color: #5f2f6d;
    border-radius: 0px;
}
.btn-primary:hover {
    background-color: #7b428a;
    border-color: #7b428a;
    border-radius: 0px;
}
